.container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 60px;
  display: flex;
  justify-content: center;
  & div {
    margin: 0;
    font-size: 18px;
    font-family: Inter;
    line-height: 1.4;
    letter-spacing: normal;
    -webkit-text-decoration: none;
    color: #4520ab;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 12px;
    margin-right: 12px;
    -webkit-text-decoration: none;
    text-decoration: none;
    & a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
