.uploader__container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 800px;
  min-width: 400px;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 24px;
  & input {
    padding: 10px;
    border-width: 0px 0px 4px 0px;
    border-style: none none solid none;
    border-color: rgb(255, 188, 91);
    outline: none;
  }
  & label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.presentations {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    & button {
      outline: 0;
      border: 0;
      margin: 10px;
      padding: 10px 20px;
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      min-width: 64px;
      background-color: #ffbc5b;
      border-radius: 15px;
      color: #0f0f0f;
      line-height: 1.25;
      font-size: 16px;
      font-weight: 700;
      font-family: monospace;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        box-shadow: 0px 3px 10px 2px rgba($color: #ffbc5b, $alpha: 0.6);
      }
    }
  }
  &__item {
    padding: 10px;
  }
  &__btn-open {
    width: 350px;
    margin-right: 20px;
    text-align: left;
  }
  &__btn-delete {
    margin-left: 20px;
  }
}
