.form {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  &__body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    padding: 20px;
    width: 400px;
    height: auto;
    border-radius: 24px;
    & h2{
      color: rgb(69, 32, 171);
      display: flex;
      justify-content: center;
     }
    & input,
    button,
    select {
      font-size: 16px;
      margin: 8px 0px;
      padding: 10px;
      outline: none;
    }
    & button:hover {
      cursor: pointer;
      scale: 1.03;
    }
    & button {
      border: none;
      background-color: rgb(255, 188, 91);
      border-radius: 16px;
      border-color:  rgb(255, 188, 91);
      color: rgb(15, 15, 15);
    }
    & input {
      border-width: 0px 0px 4px 0px;
      border-style: none none solid none;
      border-color: rgb(255, 188, 91) ;
    }
    & span {
      margin-top: 5px;
      color: rgb(255, 0, 0);
      font-size: 12px;
    }
    & label {
      position: relative;
      & input {
        border-width: 0px 0px 4px 0px;
        border-style: none none solid none;
        border-color: rgb(255, 188, 91);
        width: 380px;
        &.error {
          border: 1px solid red;
        }
        &.success {
          border: 1px solid rgb(26, 255, 0);
        }
      }
    }
  }
  &__label-github {
    display: flex;
    :nth-child(1) {
      border-right: none;
      padding-right: 0;
      width: 130px;
    }
    :nth-child(2) {
      // border: 10px solid black;
      padding-left: 0;
    }
  }
  &__img-password,
  &__img-cpassword {
    width: 30px;
    position: absolute;
    right: 5px;
    top: 15px;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  &_message{
    color:rgb(69, 32, 171);
  }
}
