.form {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  &__body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    padding: 20px;
    width: 400px;
    height: auto;
    border-radius: 24px;
    & h2{
      color: rgb(69, 32, 171);
      display: flex;
      justify-content: center;
     }
    & input,
    button,
    select {
      font-size: 18px;
      margin: 8px 0px;
      padding: 10px;
      outline: none;
    }
    & button:hover {
      background-color: rgb(255, 188, 91);
      box-shadow: rgba(255, 188, 91, 0.7) 0px 4px 20px;
    }
    & button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      outline: 0px;
      border: 0px;
      margin: 0px;
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
      appearance: none;
      text-decoration: none;
      text-transform: uppercase;
      min-width: 64px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      background-color: rgb(255, 188, 91);
      border-radius: 20px;
      padding: 16px 32px;
      color: rgb(15, 15, 15);
      line-height: 1.19;
      font-size: 16px;
      font-weight: 700;
      font-family: monospace;
    }
    & input {
      border-width: 0px 0px 4px 0px;
      border-style: none none solid none;
      border-color: rgb(255, 188, 91) ;
    }
    & span {
      margin-top: 5px;
      color: rgb(255, 0, 0);
      font-size: 12px;
    }
    & label {
      position: relative;
      & input {
        border-width: 0px 0px 4px 0px;
        border-style: none none solid none;
        border-color: rgb(255, 188, 91);
        width: 380px;
        &.error {
          border: 1px solid red;
        }
        &.success {
          border: 1px solid rgb(26, 255, 0);
        }
      }
    }
  }
  &__label-github {
    display: flex;
    :nth-child(1) {
      border-right: none;
      padding-right: 0;
      width: 150px;
    }
    :nth-child(2) {
      padding-left: 0;
    }
  }
  &__img-password,
  &__img-cpassword {
    width: 30px;
    position: absolute;
    right: 5px;
    top: 15px;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  &_message{
    color:rgb(69, 32, 171);
  }
}
